@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #06060a; /* Fond sombre comme dans ton design */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}
